
<div *ngIf="!username" class = "username-input ">
  <h1>Please Enter Username</h1>
  <input type="text" [formControl]="usernameControl" required (keyup.enter)="next()">
</div>


<!-- if username and  scoreboards--we should be updating the scoreboard info
  then we display scoreboards -->


<h1 *ngIf="username && scoreboards?.length > 0" style="margin: 0 0 16px 0;">These are your scoreboards</h1>
<div *ngIf="username" class="sb-container" >
  <div *ngFor="let scoreboard of scoreboards;let i=index" class="sb" (click)="routeToScoreBoard(scoreboard)">
    <app-scoreboard  [scoreboard]="scoreboard"></app-scoreboard>
  </div>




</div>

<div *ngIf="username" class="add-sb">

    <div *ngIf="username" class = "username-input ">
      <h1 > Create New Scoreboard</h1>
      <label style="font-weight: 500; margin-bottom: 8px;" for="newScoreBoardControl">Enter Scoreboard Name:</label>
      <input type="text" [formControl]="newScoreBoardControl" required (keyup.enter)="createNewScoreboard()" id="name" name="name">
    </div>
</div>





